#app
	height: calc(100vh - 112px)
	display: none

	a
		background-color: $bg
		color: rgba(white,0.85)
		padding: 4px 8px
		border-radius: 2px
		margin: 16px
	#units
		height: 100%
		display: flex
	#unitList
		width: 200px
		list-style: none
		overflow-y: scroll
		overflow-x: hidden
		height: 100%
		li
			color: rgba(white, 0.85)
			background-color: transparent
			padding: 16px
			cursor: pointer
			&:hover
				background-color: rgba(white,0.2)

#stats
	display: -webkit-flex
	display: -ms-flex
	display: flex
	align-items: baseline
	flex-wrap: wrap

	#stat
		display: -webkit-flex
		display: -ms-flex
		display: flex
		flex-direction: column
		margin-top: 4px
		span
			color: rgba(white, 0.85)
			padding: 0 4px
footer
	background-color: $main
	height: 56px
	left: 0
	width: 100%
	bottom: 0
	position: absolute
	display: -webkit-flex
	display: -ms-flex
	display: flex
	align-items: center
	justify-content: space-between
	ul
		list-style: none
		height: 100%
		margin-left: 16px
		li
			background: transparent
			height: 100%
			padding: 8px
			cursor: pointer
			display: inline-flex
			align-items: center
			&:hover
				background-color: rgba($bg,0.2)
	a
		background-color: $bg
		border-radius: 3px
		padding: 8px 16px
		color: rgba(white, 0.85)
		cursor: pointer
		margin-right: 16px
#unitEditor
	padding: 16px
	position: relative
	overflow-y: scroll
	width: calc(100% - 200px)
	#current
		color: rgba(white, 0.85)
		padding-bottom: 24px
	>div
		margin-top: 16px
		p, form
			color: rgba(white, 0.85)
			padding: 8px 0
		input
			padding: 8px 4px
			margin: 4px
	#updateUnit
		background-color: $main
		padding: 8px 16px
		position: fixed
		bottom: 72px
		right: 16px


#convoy
	padding: 16px
	position: relative
	overflow-y: scroll
	height: 100%
	display: flex
	flex-direction: column
	#updateConvoy
		background-color: $main
		padding: 8px 16px
		position: fixed
		bottom: 72px
		right: 16px
	>p, h1
		color: rgba(white, 0.85)
		padding: 2px 4px
	>p
		margin-bottom: 12px

	h1
		font-size: 32px
	.item
		margin: 2px 16px
		p
			color: rgba(white, 0.85)
			display: inline-block
			padding: 2px 4px
			width: 200px
		input
			display: inline-block
			padding: 8px 4px
#misc
	h1,p
		color: rgba(white, 0.85)
	padding: 16px
	>div
		margin-top: 16px
		p, form
			color: rgba(white, 0.85)
			padding: 8px 0
		input
			padding: 8px 4px
			margin: 4px
